<!DOCTYPE html>
<html lang="en">
{% block head %}
    <head>
        <meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,width=device-width,user-scalable=no" />
        <link rel="stylesheet" href="{{ asset('/css/bootstrap.css') }}">
        <script type="text/javascript" src="{{ asset('/js/jquery.js') }}"></script>
        <script type="text/javascript" src="{{ asset('/js/bootstrap.js') }}"></script>
        <link rel="shortcut icon" href="/static/favicon.ico">

        <!--<meta name="description" content="MCPECake is a bundle of services that makes finding and managing MCPE Servers easier. It allows you to see statistics, servers, lists, reports, custom plugins and various other stuff.">
        <meta name="keywords" content="minecraft pe servers, mcpe servers, mcpe server list, minecraft pe server list, mcpecake, mcpe, servers, mcpe list, best mcpe server, statistics, mcpe stats, stats, plugins, custom plugins">-->

        {% if page.title is defined %}
            <title>{{ page.title }} - CakePanel</title>
        {% else %}
            <title>CakePanel</title>
        {% endif %}

        <style type="text/css">
            body {
                padding-top: 60px;
            }

            #content {
                padding-bottom: 20px;
            }

            .container .row .col-lg-2 { {# Col-lg-2 actually does match regardless of what PHPStorm thinks. Need to change to use more efficient method later. #}
                padding-bottom: 10px;
            }
        </style>
    </head>
{% endblock %}

{% block body %}
    <body>

    <div id='content'>
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div style='margin: 0px !important;' class="alert alert-info alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>Heads up!</strong> {{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('success') %}
            <div style='margin: 0px !important;' class="alert alert-success alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>Well done!</strong> {{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('warning') %}
            <div style='margin: 0px !important;' class="alert alert-warning alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>Warning!</strong> {{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error') %}
            <div style='margin: 0px !important;' class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>Oh snap!</strong> {{ flashMessage }}
            </div>
        {% endfor %}
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">CakePanel</a>
                </div>
                <div class="collapse navbar-collapse">
                    {{ knp_menu_render('sekjun9878CakePanelBundle:MenuBuilder:mainMenu', {'currentClass': 'active', 'allow_safe_labels': true}) }}
                    {{ knp_menu_render('sekjun9878CakePanelBundle:MenuBuilder:userMenu', {'currentClass': 'active', 'allow_safe_labels': true}) }}
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>

        {% block content %}{% endblock %}
    </body>
{% endblock %}
</html>